body{
    min-width: 100vw;
    width:100vw;
    min-height: 100vh;
    height:100vh;
}

body header div a{
    text-decoration: none;
    color: white;
    right: 0;
}

body header div a:hover{
    color: white;
}

/* main{
    min-height:90vh;
    max-width: 100vw;
} */

.header{
    background-color: rgb(17, 70, 143);
    height: 5em;
}

footer{
    background-color: rgb(4, 21, 98);
    color: white;
}

footer div span{
    opacity: 0.4;
}

.footer-content{
    height: 4em;
}
