body{
    min-width: 100vw;
    width:100vw;
    min-height: 100vh;
    height:100vh;
}

main{
    min-height:90vh;
}

.header{
    background-color: blue;
    height: 5em;
}

.footer{
    background-color: red;
    height: 4em;
    color: white;
}

.footer-content{
    height: 4em;
}