{% extends './layout.html' %}

{% block title %}
    {% if purpose == 'register' %}
        Customer Registration
    {% else %}
        Login
    {% endif %}
{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages: %}
                <p style="color:red;">{{messages[0]}}</p>
            {% endif %}
            {% endwith %} 
            {% if purpose == 'register' %}
            <form action="{{url_for('auth.register')}}" method="POST" enctype="multipart/form-data" novalidate>
                {{form.csrf_token}}
                <fieldset>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <legend>Customer Registration</legend>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.name.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.name()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.email.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.email()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.password.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.password()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.sex.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.sex()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.dob.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.dob()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.pob.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.pob()}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.marital_status.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.marital_status()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.mother_name.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.mother_name()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.phone.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.phone()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.address.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.address()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.image.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.image()}}
                                </div>
                            </div>
                            <br>
                        </div>
    
                    
                    </div>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        {{form.submit()}}
                    </div>
                </fieldset>
            </form>
        {% else %}
            <h5>Login</h5>
            <form action="{{url_for('auth.login')}}" method="post">
                {{form.csrf_token}}
                <div>
                    <label>{{form.type.label}}</label>
                    {{form.type()}}
                </div>
                <div>
                    <label>{{form.email.label}}</label>
                    {{form.email()}}
                </div>
                <div>
                    <label>{{form.password.label}}</label>
                    {{form.password()}}
                </div>
                <br>
                {{form.submit()}}
            </form>
    </div>
    {% endif %}
</main>
{% endblock %}