{% extends './layout.html' %}

{% block title %}
    {% if purpose == 'register' %}
        Customer Registration
    {% else %}
        Login
    {% endif %}
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <br>
            <form action="{% if purpose=='register' %}{{url_for('auth.register')}}{% else %} {{url_for('auth.login')}} {% endif %}" method="POST" enctype="multipart/form-data" novalidate>
                {{form.csrf_token}}
                <fieldset>
                    <h2>
                        {% if purpose =='register' %}
                            Customer Registration
                        {% else %}
                            Login
                        {% endif %}
                    </h2>
                    <div>
                    {% if purpose == 'register' %}
                        <h5 class="mb-4">Already have an account? <a href="{{url_for('auth.login')}}" class="text-decoration-none">Login Now!</a></h5>
                    {% else %}
                        <h5>Don't have a customer account? <a href="{{url_for('auth.register')}}" class="text-decoration-none">Register Now!</a></h5>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages: %}
                        <p style="color: {% if 'completed' in messages[0] %} green {% else %} red {% endif %};">{{messages[0]}}</p>
                        {% endif %}
                    {% endwith %} 
                    </div>
                    {% if purpose == 'register' %}
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.name.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.name()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.email.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.email()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.password.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.password()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.sex.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.sex()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.dob.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.dob()}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label>{{form.pob.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.pob()}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.marital_status.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.marital_status()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.mother_name.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.mother_name()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.phone.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.phone()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.address.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.address()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>{{form.image.label}}</label>
                                </div>
                                <div class="col-6">
                                    {{form.image()}}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        {{form.submit(class='btn btn-primary')}}
                    </div>
                    {% else %}
                    <div>
                        {{form.csrf_token}}
                        <div class="mb-3">
                            <label class="form-label">{{form.type.label}}</label>
                            {{form.type(class='form-control')}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{form.email.label}}</label>
                            {{form.email(class='form-control')}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{form.password.label}}</label>
                            {{form.password(class='form-control')}}
                        </div>
                        <br>
                        {{form.submit(class='btn btn-primary float-md-end')}}
                    </div>
                    {% endif %}
                </fieldset>
            </form>
    </div>
</main>
{% endblock %}