{% extends "./layout.html" %}

{% block title %}
    {% if purpose == 'add' %}
        Add Treatment
    {% elif 'detail' in purpose %}
        Edit Treatment Details
    {% else %}
        Treatment Details
    {% endif %}
{% endblock %}

{% block back_button %}
    {% if 'detail' in purpose %}
        <a href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}" class="btn btn-warning">Go Back</a>
    {% else %}
        <a href="{{url_for('views.home')}}" class="btn btn-warning">Go Back</a>
    {% endif %}
{% endblock %}

{% block content %}
<main class="container-fluid my-4">
    {% if purpose == 'add' %}
    <form action="{{url_for('hospital.add_treatment')}}" method="post" novalidate>
        <h3>Add New Treatment</h3>
        {{form.csrf_token}}
        {% for detail in form %} 
            {% if detail not in [form.submit, form.csrf_token, form.hospital] %}
            <div class="mb-3">
                <label class="form-label">{{detail.label}}</label>
                {{detail(class='form-control')}}
            </div>
            {% endif %}
        {% endfor %}
        {{form.submit(class="btn btn-primary float-end")}}
    </form>
    {% elif purpose == 'show' %}
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="col-2">
            <span>
                <img class="rounded-circle" src="{{treatment.customer.image_url}}" alt="{{treatment.customer.user.name}}" width="100px" height="100px">
            </span>
            <h3>{{treatment.customer.user.name}}, {{treatment.customer.user.dob | format_age}}</h3>
            <!-- <em>{{treatment.customer.user.email}}</em> -->
        </div>
        <div class="col-3 p-0 offset-1">
            <div class="border">
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Gender
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.user.sex | format_gender}}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Date of Birth
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.user.dob | format_date}}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Email
                    </div>
                    <div class="col-5">
                        <p><em>{{treatment.customer.user.email}}</em></p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Place of Birth
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.pob}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 p-0 ">
            <div class="border">
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Mother Name
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.mother_name}}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Phone Number
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.phone}}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Address
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.address}}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-5 text-center p-0 bg-primary m-1">
                        Marital Status
                    </div>
                    <div class="col-5">
                        <p>{{treatment.customer.marital_status | format_marital_status}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Treatment Type
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}">All</a></li>
                <li><a class="dropdown-item" href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}?type=checkup">Medical Checkup</a></li>
                <li><a class="dropdown-item" href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}?type=medication">Medication</a></li>
                <li><a class="dropdown-item" href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}?type=procedure">Medical Procedure</a></li>
            </ul>
        </div>
        {% if details.count()!=0 %}
        <table class="table">
            <tr>
                <th>Treatment Type</th>
                <th>Doctor</th>
                <th>Treatment Description</th>
                <th>Treatment Date</th>
                <th>Treatment Cost </th>
                <th>Treatment Status</th>
                {% if current_user | get_user_type == 'Hospital' %}
                <th></th>
                {% endif %}
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{detail | get_treatment_type}}</td>
                <td>{{detail.doctor.name}}</td>
                <td>{{detail | get_treatment_detail}}</td>
                <td>{{detail.startDate | format_date}}</td>
                <td>{{detail | get_treatment_cost}}</td>
                <td>{{detail | get_treatment_status}}</td>
                {% if current_user | get_user_type == 'Hospital' %}
                <td class="d-flex justify-content-center px-2">
                    <button>
                        <a href="{{url_for('hospital.update_detail', treatment_id=treatment.id, type = detail|get_treatment_type_lower, detail_id=detail.id)}}" class="text-decoration-none">
                            🖉
                        </a>
                    </button>
                    <form action="{{url_for('hospital.delete_detail', treatment_id=treatment.id, type = detail|get_treatment_type_lower, detail_id=detail.id)}}" method="post">
                        <button type="submit">❌</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
            No Details
        {% endif %}
        <br>
        {% if current_user | get_user_type == 'Hospital' %}
        <div class="dropdown float-end">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Add Treatment Detail
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{{url_for('hospital.add_detail', treatment_id=treatment.id, type='medication')}}">Medication</a></li>
              <li><a class="dropdown-item" href="{{url_for('hospital.add_detail', treatment_id=treatment.id, type='checkup')}}">Medical Checkup</a></li>
              <li><a class="dropdown-item" href="{{url_for('hospital.add_detail', treatment_id=treatment.id, type='procedure')}}">Medical Procedure</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% elif 'detail' in purpose %}
        <form 
        action="{% if 'add' in purpose %}{{url_for('hospital.add_detail', treatment_id=treatment.id, type=type)}}
        {% else %}{{url_for('hospital.update_detail', treatment_id=treatment.id, type = type, detail_id=detail.id)}}   
        {% endif %}" 
        method="post" 
        novalidate>
            <h3>
                {% if 'add' in purpose %}
                    Add New 
                {% else %}
                    Edit
                {% endif %}
                    Treatment Detail
            </h3>
            {{form.csrf_token}}
            {% for detail in form %} 
                {% if detail != form.submit and detail != form.csrf_token %}
                <div class="mb-3">
                    <label class="form-label">{{detail.label}}</label>
                    {{detail(class='form-control')}}
                </div>
                {% endif %}
            {% endfor %}
            {% if 'add' in purpose %}
                {{form.submit(class="btn btn-primary float-end")}}
            {% else %}
                {{form.submit(class="btn btn-primary float-end", value='Edit Detail')}}
            {% endif %}
        </form>
    {% endif %}
</main>
{% endblock %}