{% extends "./layout.html" %}

{% block title %}
    {{type}} Dashboard
{% endblock %}

{% block content %}
<main class="container-fluid my-4">
    {% if treatments != [] %}
    <div class="d-flex justify-content-between">
        <form action="{{url_for('views.home')}}" method="get">
            <input type="text" name="search" id="search" required>
            <input type="hidden" name="sort" value="{{sort_by}}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/?sort=description{{search | add_args}}">Description</a></li>
                <li><a class="dropdown-item" href="/?sort=hospital{{search | add_args}}">Hospital</a></li>
                <li><a class="dropdown-item" href="/?sort=patient{{search | add_args}}">Patient Name</a></li>
            </ul>
            </div>
    </div>
    <table class="table">
        <tr>
            <th>Treatment Date</th>
            <th>Patient Name</th>
            <th>Treatment Description</th>
            <th></th>
        </tr>
        {% if treatments.count() == 0 %}
        <tr>
            <td colspan="4">
                There are no treatments!!!
            </td>
        </tr>
        {% endif %}
    {% for treatment in treatments: %}
        <tr>
            <td>{{treatment.details | get_first_date}}</td>
            <td>{{treatment.customer.user.name}}</td>
            <td>{{treatment.description}}</td>
            <td><a href="{{url_for('hospital.get_treatment', treatment_id=treatment.id)}}" class="btn btn-info">Check It Out</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if current_user | get_user_type == 'Hospital' %}
        <a href="{{url_for('hospital.add_treatment')}}" class="btn btn-primary">Add Treatment</a>
    {% elif current_user | get_user_type == 'Insurance' %}
        <a href="" class="btn btn-primary">Check Claim History??</a>
    {% else %}  
        <a href="{{url_for('customer.get_insurances')}}" class="btn btn-primary float-end">Check My Insurance Policies</a>
    {% endif %}
</main>
{% endblock %}